

<ul class="nav">
    <li class="nav-item profile">
        <div class="profile-desc">
            <div class="profile-pic">
                <div class="count-indicator">
                    <img class="img-xs rounded-circle " src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/faces/face15.jpg" alt="">
                    <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                    <h5 class="mb-0 font-weight-normal">Tamer Kaplan</h5>
                    <span>Admin</span>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item nav-category">
        <span class="nav-link">Navigasyon</span>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Dashboard/Index">
            <span class="menu-icon">
                <i class="mdi mdi-view-dashboard"></i>
            </span>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Writer/Dasboard/Index">
            <span class="menu-icon">
                <i class="mdi mdi-view-dashboard"></i>
            </span>
            <span class="menu-title">Yazar Paneli</span>
        </a>
    </li>
    <li class="nav-item menu-items" >
        <a class="nav-link" href="/Skill/Index">
            <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Yetenekler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Experience/Index">
            <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Deneyimlerim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Default/Index">
            <span class="menu-icon">
                <i class="mdi mdi-web"></i>
            </span>
            <span class="menu-title">Siteye Git</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Service/Index">
            <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Hizmetler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Portfolio/Index">
            <span class="menu-icon">
                <i class="mdi mdi-github-circle"></i>
            </span>
            <span class="menu-title">Projeler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/AdminMessage/ReceiverMessageList">
            <span class="menu-icon">
                <i class="mdi mdi-message"></i>
            </span>
            <span class="menu-title">Gelen Mesajlar</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/AdminMessage/SenderMessageList">
            <span class="menu-icon">
                <i class="mdi mdi-message"></i>
            </span>
            <span class="menu-title">Giden Mesajlar</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Contact/Index">
            <span class="menu-icon">
                <i class="mdi mdi-phone"></i>
            </span>
            <span class="menu-title">İletişim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/About/Index">
            <span class="menu-icon">
                <i class="mdi mdi-account"></i>
            </span>
            <span class="menu-title">Hakkımda</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/ContactSubplace/Index">
            <span class="menu-icon">
                <i class="mdi mdi-calendar"></i>
            </span>
            <span class="menu-title">Alt İletişim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Testimonial/Index">
            <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Referanslar</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Feature/Index">
            <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Öne Çıkan Gönderiler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/SocialMedia/Index">
            <span class="menu-icon">
                <i class="mdi mdi-youtube"></i>
            </span>
            <span class="menu-title">Sosyal Media</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <span class="menu-icon">
                <i class="mdi mdi-security"></i>
            </span>
            <span class="menu-title">Şifre ve Güvenlik</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
               
                <li class="nav-item"> <a class="nav-link" href="/ErrorPage/Error404"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="/ErrorPage/Index"> 401 </a></li>
                <li class="nav-item"> <a class="nav-link" href="/Writer/Login/Index"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="/Writer/Register/Index"> Register </a></li>
            </ul>
        </div>
</ul>